.main {
  height: 100%;
  width: 100%;
}

.sec {
  font-size: 14;
  font-weight: 400;
  color: black;
  text-align: center;
  margin: 10px;
}

.cal {
  font-size: 14;
  font-weight: 400;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.start {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
  font-size: 16;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 136, 3);
}

.end {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
  font-size: 16;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(136, 12, 3);
}
