.main {
  height: 100%;
  width: 100%;
}

.title {
  margin-left: 10px;
  font-size: 23;
  font-weight: 500;
  color: black;
}

.input {
  margin: 10px;
  margin-bottom: 30px;
  color: black;
}

.divider {
  height: 5px;
  width: 100%;
  background-color: rgb(184, 3, 3);
}
