.sec {
  display: flex;
  flex-direction: row;
  border: 0px;
  margin: 15px;
  padding: 10px;
}

.sidebar {
  width: 4px;
  height: 100%;
  background-color: rgb(184, 3, 3);
}

.text {
  margin-left: 9px;
}

.title {
  font-size: 17;
  font-weight: 500;
  color: black;
}

.text {
  font-size: 14;
  font-weight: 400;
  color: black;
  text-align: justify;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgb(184, 3, 3);
}
