.main {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.text {
  font-size: 19;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px;
}

.btn {
  position: absolute;
  bottom: 8%;
  left: 80%;
  font-size: 30;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  padding-top: 4px;
  background-color: brown;
}

.dlt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  border: 0px;
  margin-bottom: 10px;
}

.icon {
  width: 22px;
  height: 22px;
}

.press {
  align-self: center;
}
